@import "./global.css";

body {
	color: #fafafa;
	line-height: 1;

	margin: 0;
	
	background: #0F172A;
}

/* Generic + Mobile */
.main-content {

	font-family: "Inter", sans-serif;
	margin: 0 auto;
	padding: 12px 24px;

	min-height: 100vh;
}

/* Desktop Overwrites */
@media (min-width: 720px) {
	
	.main-content {
		padding: 24px 24px;
		
		min-width: 720px;
		max-width: 100vw;
		width: 40vw;
	}
}

h4 {
	margin: 1rem 0;
}
