@import "./global.css";

body {
	color: #fafafa;
	line-height: 1;

	margin: 0;
	
	background: #0F172A;
}

h4 {
	margin: 1rem 0;
}

/* Generic + Mobile */
.main-content {

	font-family: "Inter", sans-serif;
	margin: 0 auto;
	padding: 12px 24px;

	min-height: 100vh;
}

.link {
	
	display: inline-flex;
	align-items: center;
	justify-content: center;

	font-size: 0.75rem;
	line-height: 1;

	background: #FAFBFF;
	border-radius: 12px;

	color: #0F172A;

	gap: 0.25rem;
	margin: 0.5rem 0;
	padding: 0rem 0.75rem;

	box-shadow:
		0 0 0 1px rgba(255, 255, 255, 0.5),
		0 8px 24px rgba(0, 0, 0, 0.15);
	
	min-height: 1.5rem;
}

.link:visited {
	color: #0F172A;
}

.link:focus,
.link:active,
.link:hover {
	color: #7285b2;
}

.link p {
	font-size: 0.75rem;
	margin: 0;
	line-height: 1;
}

.link svg {
	width: 1rem;
	height: 1rem;
}

/* Desktop Overwrites */
@media (min-width: 720px) {
	
	.main-content {
		padding: 24px 24px;
		
		min-width: 720px;
		max-width: 100vw;
		width: 40vw;
	}
}
