h5 {
	margin: 0.5rem 0;
}

.project {
  	background: rgba(255, 255, 255, 0.025);
 	border: 1px solid rgba(255, 255, 255, 0.25);
  	border-radius: 14px;

	margin: 1rem 0;
  	padding: 1.25rem 1.5rem;

  	box-shadow:
    	0 0 0 1px rgba(255, 255, 255, 0.05),
    	0 8px 24px rgba(0, 0, 0, 0.15);
}

.project-date,
.project-tech {
	margin: 0.5rem 0;
	font-size: 0.85rem;
}

.project-desc {
	padding: 0rem 0.5rem;
}
.project-desc p{
	line-height: 1rem;
	font-size: 0.8rem;
}
