---

// Imports
import { getCollection } from "astro:content";

// Components.
import Layout from '../layouts/base.astro';
import Hero from '../components/hero.astro';
//import FeaturedProjects from '../components/featured-projects.astro';

// Icons.
import GithubSVG from "../svg/github.astro";
import LinkedInSVG from "../svg/linkedin.astro";

---
<Layout title="Portfolio - Przemek" currentPage="Home">

	<!-- Header -->
	<section>
		<h4>Hey, I'm Przemek 👋</h4>
		<h6>I'm a Software Developer based in the United Kingdom</h6>
		<p>My main focus is Android Development, Mixed Reality and Self-hosting.</p>
	</section>

	<!-- Links -->
	<a href="https://www.linkedin.com/in/przemek-kaniewski/" target="_blank" rel="noopener noreferrer">
		<LinkedInSVG/>
	</a>
	<a href="https://github.com/JustPrem" target="_blank" rel="noopener noreferrer">
		<GithubSVG/>
	</a>

	<!-- Project View -->
</Layout>
