---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/floppy-disk.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Przemek Kaniewski</title>
	</head>
	<body>
		<!-- Navigation -->
	
		<!-- Contents -->
		<h1>Site under construction!</h2>
	</body>
</html>
