---
// Imports.
import { marked } from 'marked';
import { getCollection } from "astro:content";
import Project from "./project.astro";

const projects = (await getCollection("projects"))
	.filter((p) => p.data.featured)
	.sort((a, b) => b.data.projectDate - a.data.projectDate);
---

{projects.length > 0 && (
	<section class="history">
		<h6>Featured Projects</h6>
		{projects.map((project) => (
			<Project
				frontmatter={project.data}
				content={marked.parse(project.body)}
			/>
		))}
	</section>
)}
