---
// Styles.
import "../styles/project.css";
// Components.
import GithubSVG from "../svg/github.astro";
// Data.
const { frontmatter, content } = Astro.props;
const { title, tech, github, projectDate } = frontmatter;
---
<div class="project">

	<!-- Header -->
	<div class="project-header">
		<div>
			<p class="project-title">{title}</p>
			<p class="project-tech">
				{tech.map((item, index) => (
					<>
						<em>{item}</em>
						{index < tech.length - 1 && ", "}
					</>
				))}
			</p>
		</div>
		<span class="project-date">{projectDate.toLocaleDateString("en-GB", { month: "short", year: "numeric" })}</span>
	</div>

	<!-- Content -->
	<div class="project-desc" set:html={content}></div>

	<!-- Links -->
	{github && (
		<a class="link" href={github}><GithubSVG/><p>Github</p></a>
	)}
</div>
